# === SSL / Secrets ===
harshal-portfolio.pem
# === Docker ===
.docker/
# === Ansible ===

ansible/inventory.ini

# Terraform
.terraform/
*.tfstate
*.tfstate.backup
*.tfvars
crash.log

# === Nginx ===
default.conf

