# === SSL / Secrets ===
harshal-portfolio.pem

# === Docker ===
.docker/

# === Ansible ===
ansible/inventory.ini

# === Terraform ===
.terraform/
*.tfstate
*.tfstate.backup
*.tfvars
crash.log

# === Nginx ===
default.conf

# === Ignore all images but keep folder ===
harshal/packages/images/*
!harshal/packages/images/.gitkeep
